<div class="sidebar" id="sidebar">
  <div class="logo">Poultry Management</div>
  <nav>
    <ul>
      <li><a href="../../index.html" class="active">Dashboard</a></li>
      <li><a href="../../growth/index.html">Growth</a></li>
      <li><a href="#">Feed</a></li>
      <li><a href="#">Prices</a></li>
      <li><a href="../../auth/signin.html" id="loginLink">Login</a></li>
      <li><a href="../../auth/signup.html" id="signupLink">Sign Up</a></li>
      <li><a href="../../index.html" id="logoutLink" style="display: none;">Log Out</a></li>
    </ul>
  </nav>
</div>
